<div class="row">
   <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-filled">
         <div class="panel-body">
            <div class="row">
               <div class="col-sm-6 col-md-6 col-lg-6">
                  <ul class="list-inline">
                     <li>Show</li>
                     <li>
                        <select name="paginationLimit" id="paginationLimit" (change)="page=1;" class="form-control input-sm" [(ngModel)]="paginationLimit">
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        </select>
                     </li>
                     <li>entries</li>
                  </ul>
               </div>
               <div class="col-sm-6 col-md-6 col-lg-6">
                  <ul class="list-inline pull-right">
                     <li>Search</li>
                     <li>
                        <div class="form-group">
                           <input type="text" class="form-control input-sm" [placeholder]="searchPlaceHolder" [(ngModel)]="searchText">
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="table-responsive" style="height: 400px;width:100%;disply:block;">
               <table class="table table-condensed table-hover">
                  <thead>
                     <tr>
                        <ng-container *ngFor="let col of colDefs">
                           <th (click)="sortData(col.field)">
                              <span class="display-header" [innerHTML]="col.displayName"></span>
                              <span [ngClass]="getSortClass(col.field)" class="sort-icon glyphicon" aria-hidden="true"></span>
                           </th>
                        </ng-container>
                     </tr>
                  </thead>
                  <tbody>
                     <ng-container *ngIf="rowData?.length;else noData">
                        <ng-container *ngIf="rowData | tableFilter : searchText : searchKey;let datas">
                           <tr *ngFor="let item of datas | paginator:page:paginationLimit | tableSort : sortOrder :prop;">
                              <td *ngFor="let ele of colDefs">
                                 <div *ngIf="ele.field == navigationKey">
                                    <a [routerLink]="[navigationUrl,item[ele.field]]">{{item[ele.field]}}</a>
                                 </div>
                                 <div *ngIf="ele.field!=navigationKey">
                                    <span>{{item[ele.field]}}</span>
                                 </div>
                              </td>
                           </tr>
                        </ng-container>
                     </ng-container>
                     <ng-template #noData>
                        <tr>
                           <td colspan="2" style="text-align:center;font-weight:bold">
                              No records found.
                           </td>
                        </tr>
                     </ng-template>
                  </tbody>
               </table>
            </div>
            <app-pagination-controls *ngIf="rowData.length" [rowData]="rowData" [page]="page" [limit]="paginationLimit"
            (pageChange)="page=$event"></app-pagination-controls>
         </div>
      </div>
   </div>
</div>